@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap';
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
.container {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.section_title {
  font-size: 2.25em;
  color: #fcd535;
  text-transform: uppercase;
}
.section_title_dark {
  color: #000;
  font-size: 2.25em;
  text-transform: uppercase;
}
.section_title_dark::after {
  background: #000;
  content: '';
  width: 60px;
  height: 3px;
  display: block;
  margin: 8px auto 12px;
}
.section_title::after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #fcd535;
  display: block;
  margin: 8px auto 12px;
}
.about,
.services,
.coins,
.contact {
  padding: 60px 15px;
  text-align: center;
}
.banner {
  height: 100vh;
  width: 100%;
  background: url(../img/banner.webp) fixed no-repeat center;
  background-size: cover;
  position: relative;
}
.selected {
  position: relative;
}
.selected::before {
  content: '';
  position: absolute;
  bottom: -0.1rem;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fcd535;
  border-radius: 50%;
}
.header {
  padding: 40px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: 0.6s;
}
.header .container {
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  margin: 0 10px;
}
.header_menu ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
}
.header_menu ul li a {
  display: inline-block;
  padding: 15px;
  font-size: 1.1em;
  color: #fcd535;
  transition: 0.1s;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.header_menu ul li a:hover {
  color: #fff;
}
.selected:hover::before {
  background: #fff;
}
.sticky {
  padding: 15px 0;
  background: #fff;
}
.sticky ul li a {
  color: #000;
}
.sticky .selected::before {
  background: #000;
}
.sticky ul li a:hover {
  color: #f0b90b;
}
.sticky .selected:hover::before {
  background: #f0b90b;
  background: #fcd535;
}
.sticky .header_logo a img {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%)
    contrast(100%);
}
#btn_mobile {
  display: none;
}
.intro {
  padding-top: 190px;
}
.intro .container {
  padding: 100px 10px;
  justify-content: flex-start;
  flex-direction: column;
}
.intro .container h1 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 1rem;
}
.intro .container p {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 2em;
}
.recolor {
  color: #fcd535;
}
.btn {
  color: #000;
  background: #fcd535;
  padding: 15px 40px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  transition: 0.2s;
  border-radius: 40px;
}
.btn:hover {
  background: #f0b90b;
}
.txt-type::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink 0.7s infinite;
}
#scroll {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  animation-duration: 1.2s;
}
.bxs-up-arrow-square {
  background: -webkit-linear-gradient(120deg, #191919 0%, #646464 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.25em;
  font-weight: 700;
  transition: 0.3s;
}
.scroll_down_indicator {
  animation: bounce 1.5s ease infinite;
  bottom: -1.5rem;
  color: #fcd535;
  font-size: 2rem;
  left: 50%;
  margin-left: -2rem;
  position: absolute;
  font-size: 5em;
}
@keyframes bounce {
  50% {
    transform: translateY(-20%);
  }
}
@keyframes scroll-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.about .container {
  align-items: center;
}
.about_text {
  color: #000;
  text-align: left;
  flex: 1 1 275px;
}
.about_text h2 {
  font-size: 2em;
  margin-bottom: 1em;
}
.about_text p {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}
.about_img {
  flex: 1 1 275px;
}
.cards {
  justify-content: center;
}
.about_card {
  min-width: calc(320px - 20px);
  height: 420px;
  margin: 10px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: 0.4s;
}
.about_card .card_circle {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fcd535;
  clip-path: circle(50% at center 0);
  text-align: center;
}
.about_card .card_circle h2 {
  padding: 30px 0;
  font-size: 4.5em;
  color: #000;
}
.about_card .card_content {
  position: absolute;
  bottom: 10px;
  padding: 20px;
  text-align: center;
}
.about_card .card_content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #fcd535;
  color: #000;
  border-radius: 40px;
  margin-top: 20px;
  font-weight: 700;
  transition: 0.2s;
}
.about_card .card_content a:hover {
  background: #f0b90b;
}
.about_card:hover {
  transform: scale(0.9);
}
.services,
.contact {
  background: linear-gradient(120deg, #f8d12f 0%, #f0b90b 100%);
}
.services_item {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.services_item_text {
  text-align: left;
  flex: 1 1 275px;
}
.services_item_text h2 {
  font-size: 2.25em;
  margin: 2em 0 1em;
}
.services_item_text p {
  font-size: 1.25em;
}
.services_item_img {
  min-width: 320px;
  max-width: 440px;
  flex: 1 1 275px;
}
.services_btn {
  background: #fff;
  color: #000;
  margin-top: 20px;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 40px;
  font-size: 1.25em;
  font-weight: 700;
  transition: 0.3s;
}
.services_btn:hover {
  background: #000;
  color: #fff;
}
.coins .container {
  margin-bottom: 40px;
}
.coins_item {
  margin: 20px 10px;
  flex: 1 1 300px;
  text-align: left;
}
.coins_item h2 {
  display: flex;
  align-items: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}
.coins_item h2 img {
  width: 2.25rem;
}
.coins_item p {
  font-size: 1.25em;
  line-height: 1.4;
}
.coins .container {
  align-items: center;
}
.coins_item h2::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #fcd535;
}
.contact_form,
.contact_data {
  padding: 40px;
  flex: 1 1 300px;
}
.contact_form form label {
  text-align: left;
  font-size: 1.5em;
  font-weight: 700;
}
.contact_form form label::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 20px;
  margin-right: 3px;
  background-color: #000;
}
.contact_form form input,
.contact_form form textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #fcfcfc;
  background: #fcfcfc;
  border-radius: 10px;
  font-size: 1em;
  margin-bottom: 12px;
}
.contact_form form textarea {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  resize: vertical;
  margin-bottom: 20px;
}
.contact_form form label,
.contact_form form input,
.contact_form form textarea {
  display: block;
}
.contact_form form input[type='submit'] {
  background: #fff;
  color: #000;
  margin-top: 20px;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 40px;
  font-size: 1.25em;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  border: none;
  width: 260px;
}
.contact_form form input[type='submit']:hover {
  background: #000;
  color: #fff;
}
.contact_data h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: left;
}
.contact_data span {
  font-size: 1.25em;
  display: block;
  text-align: left;
}
.contact_data span:nth-child(odd) {
  margin-bottom: 1.25em;
}
.contact_data .contact_social {
  text-align: left;
  display: flex;
}
.contact_social li {
  font-size: 3em;
  padding: 10px;
}
.contact_social li a {
  color: #000;
  margin: 0 10px;
  transition: 0.3s;
}
.contact_social li a:hover {
  color: #fff;
}
.footer .footer_banner {
  height: 220px;
  background: url(../img/footer_banner.webp) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer_banner a img {
  margin: 0 auto;
  width: 220px;
}
.footer .footer_banner p {
  font-size: 1.25em;
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.footer .container {
  padding: 60px 15px;
}
.footer h2 {
  color: #fcd535;
  margin-bottom: 10px;
  font-size: 2em;
}
.footer h2::after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #fcd535;
  display: block;
}
.footer_data span {
  display: block;
  text-align: left;
}
.footer_data span:nth-child(3) {
  margin-bottom: 1.25em;
}
.footer_text {
  text-align: left;
  flex: 2 1 300px;
  padding: 15px;
}
.footer_text p,
.footer_data span {
  font-size: 1.25em;
}
.footer_data,
.footer_social {
  flex: 1 1 300px;
  padding: 15px;
}
.footer_social ul {
  text-align: left;
  display: flex;
}
.footer_social li {
  font-size: 3em;
  padding: 10px;
}
.footer_social li a {
  color: #000;
  transition: 0.3s;
}
.footer_social li a:hover {
  color: #fcd535;
}
.contact_data span,
.footer_data span {
  display: flex;
  align-items: center;
}
.dev {
  padding: 12px;
  background-color: hsl(0, 0%, 17%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  grid-area: dev;
}
.dev p {
  display: flex;
  align-items: center;
}
.dev img {
  width: 32px;
  filter: invert(91%) sepia(100%) saturate(2%) hue-rotate(84deg)
    brightness(105%) contrast(101%);
}
@media screen and (max-width: 966px) {
  #scroll {
    bottom: 25px;
    right: 15px;
  }
}
@media screen and (max-width: 766px) {
  #btn_mobile {
    color: #fcd535;
    font-size: 2.5em;
    cursor: pointer;
    padding: 0 15px;
    display: flex;
    border: none;
    background: none;
    gap: 0.5rem;
  }
  .sticky #btn_mobile {
    color: #000;
  }
  #menu {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 132px;
    right: -10px;
    width: 100%;
    height: 0;
    background: #202020;
    transition: 0.6s;
    z-index: 100;
    overflow-y: hidden;
  }
  .active #menu {
    visibility: visible;
    height: calc(100vh - 132px);
    overflow-y: auto;
  }
  .sticky #menu {
    top: 56.15px;
    background: #fcfcfc;
  }
  #menu a {
    display: block;
    padding: 1em 0;
    margin: 0 1em;
    text-align: center;
    font-size: 1.5em;
  }
  #hamburger {
    border-top: 3px solid;
    width: 30px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  .active #hamburger {
    border-top-color: transparent;
  }
  .active #hamburger::before {
    transform: rotate(135deg);
  }
  .active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .selected::before {
    bottom: 1rem;
  }
  .about_card .card_content a {
    padding: 15px 30px;
    font-size: 1.25em;
  }
  .banner {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 670px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .contact_form,
  .contact_data {
    padding: 18px;
  }
}
@media screen and (max-width: 640px) {
  .banner {
    height: 100vh;
    width: 100%;
    background: url(../img/banner_mobile.webp) fixed no-repeat center;
    background-size: cover;
  }
  .intro {
    padding-top: 120px;
  }
  .intro .container {
    padding: 0 10px;
    align-items: center;
  }
  .intro {
    position: relative;
    top: 20%;
  }
  .intro .container h1 {
    font-size: 2em;
  }
  .intro .container p {
    font-size: 1.25em;
    max-width: 280px;
  }
  .services_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
  }
  .services_item_img {
    order: -1;
  }
  .services_item_text {
    order: 0;
  }
  .scroll_down_indicator {
    bottom: 0.1rem;
  }
  .services_item_text h2 {
    margin: 0.7em 0;
  }
}
